/bootstrap/compiled.php
/app/config/local
/app/config/database.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/compiled.php
/vendor
composer.phar
composer.lock
nbproject
/nbproject/private/
/packages/
app/storage/debugbar
public/packages