/**RESET CSS**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**SET COMMON CLASS**/
.clear{
    clear: both;
}
.bold{
    font-weight: bold;
}
.left{
    float: left;
}
.right{
    float: right;
}
/**MAIN SETTING**/
body{
    background: #ddd;
}
#wrapper{
    width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 5px #888;
    background: #fff;
}
#header{
    background: url(../../img/landing/banner.jpg);
    height: 200px;
    position: relative;
}
#header .logo{
    position: absolute;
    top: 20px; left: 40px;
}
#header .name{
    background: url(../../img/landing/name.png) no-repeat;
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 210px;
    width: 597px; height: 58px;
}
.global{
    position: absolute;
    top: 160px;
    height: 40px;
    width: 100%;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left,  #1e5799 0%, #1e5799 47%, #1c3e6d 87%, #1c3e6d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(47%,#1e5799), color-stop(87%,#1c3e6d), color-stop(100%,#1c3e6d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1e5799 0%,#1e5799 47%,#1c3e6d 87%,#1c3e6d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1e5799 0%,#1e5799 47%,#1c3e6d 87%,#1c3e6d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1e5799 0%,#1e5799 47%,#1c3e6d 87%,#1c3e6d 100%); /* IE10+ */
    background: linear-gradient(to right,  #1e5799 0%,#1e5799 47%,#1c3e6d 87%,#1c3e6d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1c3e6d',GradientType=1 ); /* IE6-9 */

}
.global .imgroll{
    border-radius: 50%;
    border: #1E5799 solid 5px;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: -63px 0 0 40px;
    background: #fff;
    padding: 10px;
}
.global .imgroll img{
    width: 100%;
}
.global p{
    position: absolute;
    width: 100%;
    top: 0;
    line-height: 40px;
    color: #FF7644;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
}
#footer{
    height: 155px;
    clear: both;
    background: url(../../img/landing/ft.png) no-repeat;
}

#main{
    padding: 120px 0 10px;
    background: url(../../img/landing/bgt.png) no-repeat center top;
}
.box{
    float: left;
    width: 29.33%;
    margin: 0 2%;
    padding: 0;
    text-align: center;
}
.box img{
    width: 100%;
    border: #ccc solid 2px;
    height: 200px;
}
.box:hover img{
    opacity: 0.8;
    border-color: #59BAF2;
}
.box h2{
    margin: 10px 0;
}
.box h2{
}
.box h2 a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: #192B3F;
    text-decoration: none;
    text-transform: uppercase;
}
.box:hover h2 a{
    color: #FFC000;
}
.rib{
    text-align: center;
    margin: 0 0 50px;
}

