body {
    background: url(../../img/bg/brushed_alu.png);    
} 

/* Helper classes */
.text-i {
    font-style: italic;
}
.text-bold {
    font-weight: 800;
}
.margin-10 {
    margin: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-15 {
    margin-bottom: 15px;
}
.margin-bottom-15 {
    margin: 15px;
}
.margin-20 {
    margin: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}


#today {
    padding-right: 30px;
}
#wrapper {
    width: 1024px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
#header {
    padding-bottom: 9px;
    margin: 15px 0;
    border-bottom: 1px solid #eeeeee;
}
#form-login {
    display: inline-block;
}
#logo{
    width: 150px;
    height: 70px;
}
.members-tree-wrap {
    padding: 15px 5px;
    border: 2px solid #eee;
    min-height: 300px;
}


/* OrgChart */
.jOrgChart .right{
    border-left: 2px solid #c9c9c9;
} 
.jOrgChart .left {
    border-right: 2px solid #c9c9c9;
}
.jOrgChart .top {
    border-top: 2px solid #c9c9c9;
}
.jOrgChart .down {
    background-color: #c9c9c9;
}

.members-tree-wrap .node{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    padding: 8px 12px 7px;
    border-width: 0 1px 4px 1px;
    width: 110px;
}

/* Default button style */
.members-tree-wrap.default .node {
    color: #555555;
    background-color: #eeeeee;
    border-color: #e2e2e2;
}
.members-tree-wrap.default .node:hover, .members-tree-wrap.default .node:focus {
    background-color: #eeeeee;
    border-color: #e2e2e2;
}
/* Primary button style */
.members-tree-wrap.primary .node {
    color: #ffffff;
    background-color: #158cba;
    border-color: #127ba3;
}
.members-tree-wrap.primary .node:hover, .members-tree-wrap.primary .node:focus {
    background-color: #158cba;
    border-color: #127ba3;
}
/* Info button style */

.members-tree-wrap.info .node {
    color: #ffffff;
    background-color: #75caeb;
    border-color: #5fc1e8;
}
.members-tree-wrap.info .node:hover, .members-tree-wrap.info .node:focus {
    background-color: #75caeb;
    border-color: #5fc1e8;
}

/* Success button style */

.members-tree-wrap.success .node {
    color: #ffffff;
    background-color: #28b62c;
    border-color: #23a127;

}
.members-tree-wrap.success .node:hover, .members-tree-wrap.success .node:focus {
    background-color: #1f8c22;
    border-color: #186f1b;
}
.article {
    clear: both;
}
.article-thumbnail-wrap {
    padding: 25px 10px;
}
.article-thumbnail {
    width:  120px;
	height: 120px;
    border: 1px solid #eee;
}
.article-right{ margin-top: 50px; }
.page-header a, .page-header a:hover, .page-header a:focus, .page-header a:active {
    text-decoration: none;
}
.pagination-wrap{ float: right; margin-right: 30px }
.article-category-thumbnail {
	width: 100px;
	height: 100px;
}
.home-article-category .pull-right{
	max-width: 150px;
}
.home-article-category .well {
	min-height: 250px;
}
#content-wrapper {
    padding: 0 30px;
}