body {
    background: url(../../img/bg/brushed_alu.png);    
}
#wrapper {
    width: 1024px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
#header {
    padding-bottom: 9px;
    margin: 15px 0;
    border-bottom: 1px solid #eeeeee;
}
#form-login {
    width: 455px;
    display: inline-block;
}
#logo{
    width: 100px;
    height: 70px;
}
#members-tree-wrap {
    overflow-x: scroll;
    padding: 15px 5px;
    border: 2px solid #eee;
}