.table-wrap .table-header {
    padding-bottom: 10px;
}
.table-wrap .table-footer .info-left {
    float: left;
}
.table-wrap .table-footer .info-right {
    float: right;
}
.table-wrap .table-footer .pagination {
    margin: 5px 0;
}
.thumbnail-select{
	background: white;
	border: 1px solid #E2E3E2;
	border-radius: 3px;
	width: 150px;
	height: 150px;
	cursor: pointer;
}
.thumbnail-select img{
	width: 150px;
	height: 150px;
}
.content {
    min-height: 300px;
}
.custom-select2{
	display: block;
	width: 100%;
	height: 34px;

	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.custom-select2 .select2-choices { 
	background: none; 
	border: 1px solid #ccc;
}
.list-resource {
	list-style: none;
}
.list-resource .resource-parent{
	font-size: 16px;
}
.list-resource .resource-group ul.resource-children{
	list-style: none;
	font-weight: normal;
}
.list-resource .resource-group ul.resource-children label{
	font-weight: normal;
}